.NavBar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-column-gap: 0;
    grid-row-gap: 10px;
    background: lightgray;
    width: 100%;
    margin-bottom: 10px;
}

.Header {
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
}
.Links {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
}
.LoginContr {
    grid-area: 2 / 3 / 3 / 4;
}